.card
{
    margin: 30px;
    border-radius: 20px;
}
video
{
    border-radius:20px 0px;
}
body
{
    background-color: rgb(231, 235, 237);
   
}


.card-body {
    flex: 0 0 auto;
    min-height: 1px;
    padding:10px 1.25rem;
  
}
.card:hover
{
    box-shadow: 20px 20px 50px rgb(112, 112, 112);
    transition-duration: 2s;
    cursor:grab;
}
i:hover
{
    color: #0C75C0;
}
.icons
{
    padding-top: 5px;
    padding-left: 30px;
}
.card-text1
{
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.card-text2
{
    font-family: sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 15px;
    color: rgb(126, 127, 128);
    
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 100%;
}
.col-4
{
    display: flex;
    justify-content:right;
   
}

@media(max-width:1200px)
{
      .card,.video
      {
          max-width: 100%;
      }
      .card-body
      {
          max-width: 50%;
      }
      .card-text1
      {
          font-size: 15px;
      }
      .card-text2
      {
          font-size: 11px;
      }
      .icons
      {
          max-width: 50%;
      }
  

 
}
@media(max-width:767px)
{
    .ww
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card
    {
        margin-bottom: 3px;
    }
    .fa-download
    {
        font-size: 20px;
        margin-left: 20px;
    }
    .first
    {
        margin-bottom: 30px;
    }
}